---
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Hero from "@/components/Hero.astro";
import TitleSection from "@/components/TitleSection.astro";
import Skills from "@/components/Skills.astro";
---

<Layout
  title="Porfolio de Gabriela Contreras"
  description="Portfolio de Gabriela Contreras, desarrolladora web con experiencia en Next.js, React, TailwindCSS y HeroUI. Explora mis proyectos y habilidades."
>
  <main class=" md:px-0 max-w-5xl mx-auto ">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>

    <SectionContainer class="" id="skills">
      <TitleSection>
        <Briefcase class="size-8" />
        Habilidades y Tecnologías
      </TitleSection>
      <div>
        <Skills />
      </div>
    </SectionContainer>
  </main>

  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <TitleSection>
        <Briefcase class="size-8" />
        Experiencia laboral
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <TitleSection>
        <CodeIcon class="size-7" />
        Proyectos
      </TitleSection>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        Sobre mí
      </TitleSection>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
