---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Psicotécnicos AI",
    company: "Project Freelance",
    description:
      "Plataforma de Evaluaciones Psicotécnicas con IA . Participé en el desarrollo de una solución web para evaluaciones psicotécnicas, destinada a una empresa proveedora de servicios a clientes como Galicia y Tenaris. Me encargué de gran parte del desarrollo frontend, colaboré en el diseño de interfaces con Figma y realicé ajustes menores en backend.",
    
  },
  {
    date: "julio 2024",
    title: "Principal Frontend Engineer",
    company: "Project Freelance",
    description:"Desarrollé el frontend de una plataforma web de gestión de turnos, utilizada en sistemas in-house para centros médicos, redes de barberías, estilistas y otros servicios con alta demanda de reservas.Participé en el diseño de la interfaz de usuario, la lógica de negocio y la integración con el backend. ",

  },
    {
    date: "Marzo 2023",
    title: "Desarrolladora Front End ",
    company: "Welaw AI (Freelance)",
    description:"Welaw es una startup que facilita la creacion de contratos con el uso de inteligencia artificial.  Mi trabajo en welaw se basó en la creación de la interfaz del usuario, la logica del producto y la conexión con el backend mediante Api rest. Colabore con un grupo de programadores y un lider con el cual nos reuniamos todos los dias para acordar el avance del grupo . ",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
