<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  role="link"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 text-white transition bg-[#FF00FF] border border-[#9400D3] rounded-full
         dark:bg-gray-800 dark:border-[#FF00FF] dark:text-white
         focus-visible:ring-[#FF00FF]/80 text-md
         hover:bg-[#9400D3] hover:border-[#FF00FF] hover:text-white
         dark:hover:bg-[#FF00FF] dark:hover:border-[#9400D3] dark:hover:text-white
         group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-[#FF00FF] focus-visible:ring-offset-2
         active:bg-[#9400D3]"
>
  <slot />
</a>
